@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}

html {
    scroll-behavior: smooth;
}

body{

    overflow-x: hidden;
    background-color: #292F36;
    transition: background-color 0.4s;
}

/*LANDING CONTENT*/
.home {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 60px 10% 0;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #292F36;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    width: 4003px;
    height: 235px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -2px;
    margin-bottom: 3rem;
}

.home-content h1 span {
    color: #ECAA16;
}

#search {
    display: inline-block;
    padding: 11px 32px;
    border-radius: 90px;
    background: rgba(255, 252, 252, 0.18);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    color: #f0f3fd;
    letter-spacing: 1px;
    font-weight: 600;
    width: 650px;
    margin-left: 2rem;
}

#search:hover {
    color: #ECAA16;
    background: rgba(140, 140, 140, 0.18);
}

.login {
    color: whitesmoke;
    background-color: #ecaa16;
    text-align: center;
    border-radius: 25px;
    width: 150px;
    font-size: 18px;
    margin-left: 2rem;
    font-weight: bold;
}

.register {
    color: whitesmoke;
    border: 2px solid #ecaa16;
    border-radius: 25px;
    width: 150px;
    font-size: 18px;
    margin-left: 2rem;
    text-align: center;
    font-weight: bold;
}

.register:hover{
    background-color: whitesmoke;
    color: #ecaa16;
}

.login:hover{
    background-color: whitesmoke;
    color: #ecaa16;
}


.home-img img {
    position: absolute;
    top: 3rem;
    right: 0rem;
    max-width: 100%;
    pointer-events: none;
    z-index: 10;
    width: 88%;
}

/* MOCK-UP RIGHT ARROW */
.right-arrow {
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    z-index: 10;
    font-size: 40px;
}
.home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* HOME GALLERY */
.home-gallery {
    background-color: #1E2127;
    flex-grow: 1;
    z-index: 1;
    text-align: center;
    margin:auto;
    margin-top: -10rem;
}

/* GALLERY */
.gallery{
    text-align: center;
    margin-bottom: 2rem;
}


/* CARDS OF GALLERY-GALLERY PAGE */
.all-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 10% 0;
    margin-top: 15rem;
}

.card {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 300px;
    margin: 2rem;
    border-radius: 1.2rem;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: opacity 1s, transform 2s ease;

}

.card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay h3{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;

}
.overlay h4{
   color:#ECAA16;
    font-weight: bold;
    margin-bottom: 1rem;
}
.overlay .card-text{
    margin: 0;
    transition: bottom 0.3s;
}
.overlay:hover .card-text {
    margin-top: 10rem;
}

.overlay button {
    display: none;
    background-color: transparent;
    border: 1px solid #ECAA16;
    background-color: white ;
    color: #ECAA16;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-top: 2rem;
    margin:auto;
}

.card:hover .overlay button {
    display: block;
}

.overlay button:hover {
    background-color: #ECAA16;
    color: white;
}

.overlay .card-mini-text {
    display: none;
    text-align: center;
    position: relative;
    top:2rem;
}

.overlay .card-mini-text p {
    padding:40px;
}

.overlay:hover .card-mini-text {
    color: #b0aeae;
    display: flex;
}

.card-location {
    display: flex;
}

.card-location  i{
    margin-top: 8px;
    font-size: 25px;
}

/*SEARCH BAR*/
.search-bar-gallery {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 600px;
}

.input-container {
    position: relative;
    align-items: center;
    position:relative;
    bottom: 6rem;
}

.input-container input {
    padding-left: 2rem;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #ecaa16;
    font-size: 1.5rem;
}

.galleryPage{
    background-color: #1E2127;
    min-height: 100vh;
    padding-top: 10rem;
    z-index: -1;
    text-align: center;
    overflow-y: auto;
    margin:auto;
}

.search-options {
    margin-top: 3rem;
}

.search-options label {
    padding: 2rem;
    color: white;
    font-size: 18px;
}

.MockUp{
    overflow-x:hidden ;
}
/* Media query for tablet and smartphone size */
@media screen and (max-width: 768px) {

    .home-content h1 {
        width: 4003px;
        height: 235px;
        flex-shrink: 0;
        color: #FFF;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -2px;
        position: absolute;
        top: 10rem;
        left: 3rem;
    }

    .search-bar-gallery {
        padding: 10px;
        position: absolute;
        top: 24rem;
        left: 0rem;
    }

    #search {
        width: 400px;
        padding: 8px;
        font-size: 14px;
    }

    .input-container i {
        font-size: 20px;
    }

    .home-img img {
        position: absolute;
        top: 6.5rem;
        right: 0rem;
        min-width: 120%;
        pointer-events: none;
        z-index: 10;
    }

    .search-btn{
        margin-right: 2rem;
    }
    .right-arrow {
        position: absolute;
        right: 2rem;
        bottom: 24rem;
        z-index: 10;
        font-size: 40px;
    }
    .home-gallery {
        background-color: #1E2127;
        flex-grow: 1;
        z-index: 1;
        text-align: center;
        margin:auto;
        margin-top: -29rem;
    }

}


@media screen and (max-width: 576px) {

    .home-content h1 {
        width: 4003px;
        height: 235px;
        color: #FFF;
        font-size: 39px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -2px;
        position: absolute;
        top: 15rem;
        left: 3rem;
    }

    .search-bar-gallery {
        padding: 10px;
        position: absolute;
        top: 26rem;
        left: 0rem;
        z-index: 10;
    }

    #search {
        width: 300px;
        padding: 8px;
        font-size: 14px;
    }

    .input-container i {
        font-size: 20px;
    }

    .home-img img {
        position: absolute;
        top: 26rem;
        right: 0rem;
        min-width: 140%;
        pointer-events: none;
        z-index: 10;
    }

    .right-arrow {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        z-index: 10;
        font-size: 40px;
    }
    .home-gallery {
        background-color: #1E2127;
        flex-grow: 1;
        z-index: 1;
        text-align: center;
        margin:auto;
        margin-top: -8rem;
    }

    .card {
        position: relative;
        right: 1rem;
        overflow: hidden;
        width: 350px;
        height: 200px;
        border-radius: 1.2rem;
        cursor: pointer;
    }
}
