@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;

}

.header{
    background-color: #292F36;
<<<<<<< HEAD
    overflow-x: hidden;
}

.logo {
   width: 80px;
    height: 80px;
=======
    z-index: -1;
    overflow-x: hidden;
    height: 60vh;
}


.logo {
    width: 70px;
>>>>>>> main
    color: #333;
    margin-bottom: 0.5rem;
    margin-right: 10rem;
}

.navigation{
    position: fixed;
    top: 1rem;
<<<<<<< HEAD
    right: 2rem;
=======
    right: 3rem;
>>>>>>> main
    display: flex;
    align-items: center;
    z-index: 100;
    width: 100%;
    padding: 10px 10%;
<<<<<<< HEAD


}

=======
}


>>>>>>> main
.navbar a {
    font-size: 18px;
    color: whitesmoke;
    font-weight: 500;
<<<<<<< HEAD
    margin-right: 35px;
    transition: 0.5s;
    margin-left: 10px;
    padding-left: 10px;
=======
    margin-right: 45px;
    transition: 0.5s;
    padding-left: 20px;
>>>>>>> main
    background: transparent;
}

.navbar a:hover,
.navbar a.active {
    color: #FDB514;
}

.buttons{
    display: flex;
    padding: 10px 30%;
<<<<<<< HEAD


=======
>>>>>>> main
}
.login {
    color: whitesmoke;
    background-color: #ecaa16;
<<<<<<< HEAD

    border-radius: 25px;
    width: 100px;
    font-size: 18px;
    margin-left: 20px;
=======
    text-align: center;
    border-radius: 25px;
    width: 100px;
    font-size: 18px;
    margin-left: 3rem;
>>>>>>> main
}

.register {
    color: whitesmoke;
    border: 2px solid #ecaa16;
    border-radius: 25px;
    width: 100px;
    font-size: 18px;
<<<<<<< HEAD
    margin-left: 20px;
=======
    margin-left: 1rem;
    text-align: center;
>>>>>>> main

}

/*HEADER CONTENT*/
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 10% 0;
<<<<<<< HEAD

=======
    overflow-x: hidden;
>>>>>>> main
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    width: 4003px;
    height: 235px;
    flex-shrink: 0;
    color: #FFF;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -2px;
}

.home-content h1 span {
    color: #ECAA16;
}

#search {
    display: inline-block;
    padding: 11px 32px;
    border-radius: 90px;
    background: rgba(255, 252, 252, 0.18);
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    color: #f0f3fd;
    letter-spacing: 1px;
    font-weight: 600;
    width: 600px;
<<<<<<< HEAD
=======

>>>>>>> main
}

#search:hover {
    color: #ECAA16;
    background: rgba(140, 140, 140, 0.18);
<<<<<<< HEAD

=======
>>>>>>> main
}

.home-img img {
    position: absolute;
<<<<<<< HEAD
    top: 2rem;
    bottom: 0rem;
    right: 0rem;
    width: 100%;
    pointer-events: none;
    bottom: 8rem;

=======
    top: 0rem;
    right: -3.5rem;
    max-width: 100%;
    pointer-events: none;
    z-index: 10;
}


/* MOCK-UP RIGHT ARROW */
.right-arrow {
    position: absolute;
    right: 2rem;
    bottom: 10rem;
    z-index: 10;
    font-size: 40px;
>>>>>>> main
}

/* HOME GALLERY */
.home-gallery {
    background-color: #1E2127;
    min-height: 100vh;
    padding-top: 10rem;
<<<<<<< HEAD
    z-index: -1;
=======
    z-index: 1;
>>>>>>> main
    text-align: center;
    overflow-y: auto;
    margin:auto;

}

/* GALLERY */
.gallery{
    text-align: center;
    height: 100vh;
}

/* CARDS OF GALLERY-GALLERY PAGE */
.all-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 10% 0;
}

.card {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 300px;
    margin: 2rem;
    border-radius: 1.2rem;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: opacity 1s, transform 2s ease;

}

.card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay h3{
    font-weight: bold;
}
.overlay h4{
   color:#ECAA16;
    font-weight: bold;
    margin-bottom: 1rem;
}
.overlay .card-text{
    margin: 0;
    transition: bottom 0.3s;
}
.overlay:hover .card-text {
    margin-top: 10rem;
}

.overlay button {
    display: none;
    background-color: transparent;
    border: 1px solid #ECAA16;
    background-color: white ;
    color: #ECAA16;
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    border-radius: 25px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin-top: 2rem;
    margin:auto;
<<<<<<< HEAD


=======
>>>>>>> main
}

.card:hover .overlay button {
    display: block;
}

.overlay button:hover {
    background-color: #ECAA16;
    color: white;
}

.overlay .card-mini-text {
    display: none;
    text-align: center;
    position: relative;
    top:2rem;
}

.overlay .card-mini-text p {
    padding:40px;
}

.overlay:hover .card-mini-text {
    color: #b0aeae;
    display: flex;
}

.card-location {
    display: flex;
}

.card-location  i{
    width: 30px;
    height: 30px;

}

/*SEARCH BAR*/
<<<<<<< HEAD

.search-bar-gallery {
    display: flex;
    justify-content: center; /* Horizontally center the search bar */
    margin: auto;
    max-width: 600px; /* Optionally limit the width */
=======
.search-bar-gallery {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 600px;
>>>>>>> main
}

.input-container {
    position: relative;
    align-items: center;
<<<<<<< HEAD
=======
    margin-bottom: 19rem;

>>>>>>> main
}

.input-container input {
    padding-left: 2rem;
}

.input-container i {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    color: #ecaa16;
    font-size: 1.5rem;
<<<<<<< HEAD
}
=======
}

.galleryPage{
    background-color: #1E2127;
    min-height: 100vh;
    padding-top: 10rem;
    z-index: -1;
    text-align: center;
    overflow-y: auto;
    margin:auto;
}

.search-options {
    margin-top: 3rem;
}

.search-options label {
    padding: 2rem;
    color: white;
    font-size: 18px;
}

/* Media query for tablet and smartphone size */
@media screen and (max-width: 768px) {

    .header .h1 {
        font-size: 15px;
    }

    .navbar {
        display: none;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        position:absolute;
        right:0rem;
    }

    .hamburger-menu .bar {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px 0;
        transition: 0.4s;

    }


    .change .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar:nth-child(2) {
        opacity: 0;
    }

    .change .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }

    .change .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2rem;
        right:-4rem;
    }

    .logo {
        margin-left: 3rem;
    }

    .header{
        height: 44.5vh;
    }

    .header .home-content h1 {
        width: 4003px;
        height: 235px;
        flex-shrink: 0;
        color: #FFF;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -2px;
        position: absolute;
        top: 12rem;
        left: 3rem;
    }

    .search-bar-gallery {
        padding: 10px;
        position: absolute;
        top: 21rem;
        left: 3rem;
    }

    #search {
        width: 290px;
        padding: 8px;
        font-size: 14px;
    }

    .input-container i {
        font-size: 20px;
    }

    .home-img img {
        position: absolute;
        top: 10rem;
        right: -2rem;
        max-width: 110%;
        pointer-events: none;
        z-index: 10;
    }

    .navigation .buttons{
        padding: 10px 0%;
        position: relative;
        right: 5rem;
    }

    .right-arrow {
        position: absolute;
        right: 2rem;
        bottom: 26rem;
        z-index: 10;
        font-size: 40px;
    }
}


@media screen and (max-width: 576px) {

    .dark-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        display: none;
    }

    .change .dark-overlay {
        display: block;
        font-size: large;
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
        position:absolute;
        right:0rem;
    }

    .change .navbar {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2rem;
        right:-4rem;
        font-size: 54px;
    }

    .header{
        height: 53vh;
    }

    .header .home-content h1 {
        width: 4003px;
        height: 235px;
        flex-shrink: 0;
        color: #FFF;
        font-size: 37px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -2px;
        position: absolute;
        top: 12rem;
        left: 3rem;
    }

    .search-bar-gallery {
        padding: 10px;
        position: absolute;
        top: 13rem;
        left: 3rem;
    }

    #search {
        width: 250px;
        padding: 8px;
        font-size: 14px;
    }

    .input-container i {
        font-size: 20px;
    }


    .home-img img {
        position: absolute;
        top: 16rem;
        right: -1rem;
        max-width: 135%;
        pointer-events: none;
        z-index: 10;
    }

    .right-arrow {
        position: absolute;
        right: 2rem;
        bottom: 17rem;
        z-index: 10;
        font-size: 40px;
    }
}


>>>>>>> main
