.container-appointment {
    color: rgba(255, 255, 255, 0.85);
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #e1e1e1;

}


.card-appointment {
    width: 100%;
    max-width: 790px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 71%;
    transform: translate(-50%, -50%);
    padding:1rem;
    background-color: #1e2127;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 30px 48px rgba(37, 44, 65, 0.32);
}

/* Button */
.add-button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

/* Calendar */
.rbc-day-bg + .rbc-today {
    background-color: rgba(68, 77, 87, 0.66);
}

.calendar-container {
    margin: 20px 10px; /* Adjust margin for spacing */
}

/* Responsive Styling */
@media only screen and (max-width: 768px) {
    .card-appointment {
        width: 90%; /* Adjust width for smaller screens */
        max-width: 90%; /* Adjust max-width for smaller screens */
        left: 42%;


        transform: translateY(-50%);
    }

    .calendar-container {
        margin: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .card-appointment {
        width: 90%;
        max-width: 90%;
        height: auto;
    }
}
