
.circular-slider-carousel{
    width: 110%;
    height: 100vh;
    position: relative;
    right: 20rem;
}
.slider {
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 8rem;
    left: 42rem;
}


.title{
    position: absolute;
    top: 20%;
    right: 0rem;
    text-align: right;
    color: #fff;
    line-height: .9em;
    overflow-x: hidden;
    margin-right: 1rem;
    z-index: 999;
}
.title img {
    width: 90%;
    overflow-x: hidden;
    z-index: 999;
}
.images{
    position: absolute;
    width: 900px;
    height: 650px;
    bottom: 17%;
    left: 55%;
    --rotate: 0deg;
    transform: translate(-50%, 50%) rotate(var(--rotate));
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 3px dashed #f5cc7f;

}

.images .item{
    position: absolute;
    bottom: 0%;
    left: 50%;
    --rotate: 0deg;
    transform: translate(-50%, 0);
    width: 900px;
    height: 650px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 3px dashed #f5cc7f;


}

.images .item img{
    height:250px;
    position: absolute;
    bottom: 13rem;
    right: -19rem;
}

.content{
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: end;
    width: 350px;
}
.content h1{
    color: #e5dbc9;
    font-size: 45px;
    position: relative;
    top: 19rem;
    right: 28rem;
}

.content button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #f8b61b;
    color: #fff;
    border: none;
    float: left;
    position: relative;
    top: 18rem;
    right: 13.5rem;
    z-index: 100;
}
.content .item{
    display: none;
}
.content .item.active{
    display: block;
}
@keyframes showContent{
    from{
        opacity: 0;
        transform: translateY(100px);
    }to{
         opacity: 1;
     }
}
.content .item.active h1{
    opacity: 0;
    animation: showContent 0.5s ease-in-out 1 forwards;
}
.content .item.active .des{
    opacity: 0;
    animation: showContent 0.5s 0.3s ease-in-out 1 forwards;
}
.content .item.active button{
    opacity: 0;
    animation: showContent 0.5s 0.6s ease-in-out 1 forwards;
}


#prev,
#next, .mouse-icon {
    position: absolute;
    border: none;
    top: 13rem;
    left: 230%;
    transform: translateX(-50%);
    font-family: cursive;
    background-color: transparent;
    color: #8ca8c5;
    font-weight: bold;
    opacity: 0.3;
    z-index: 100;
}

#prev{
    top: 7rem;
    left: 228%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

#next {
    top: 15rem;
    left: 228%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);

}

.mouse-icon{
left: 230%;
}

#next:hover,
#prev:hover {
    opacity: 1;
}