
.circular-slider-carousel{
    width: 110%;
    height: 100vh;
    position: relative;
    right: 20rem;
}
.slider {
    position: relative;
    width: 205%;
    height: 120vh;
    border-radius:  50% 0% 0% 50%;
    background-image: linear-gradient(to right, #292F36, #292F36);
    top: -5rem;
    left: 15rem;

}

.slider::before{
    position: absolute;
    width: 100%;
    height: 90vh;
    content: '';
    top: 3rem;
    left: 22rem;
    border-radius: 50% 0% 0% 50%;
    background-color: #1E2127;
    overflow: hidden;
    align-items: center;
}

.title{
    position: absolute;
    top: 10%;
    right: -50px;
    text-align: right;
    color: #fff;
    line-height: .9em;
    overflow-x: hidden;
    margin-right: 1rem;
}
.title img {
    width: 50%;
    overflow-x: hidden;
}
.images{
    position: absolute;
    width: 1100px;
    height: 110vh;
    bottom: 9.5rem;
    left: 65%;
    --rotate: 0deg;
    transform: translate(-50%, 50%) rotate(var(--rotate));
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 3px dashed #f5cc7f;
    outline-offset: -100px;
    padding: 4rem;
}

.images .item{
    position: absolute;
    bottom: 0%;
    left: 50%;
    --rotate: 0deg;
    transform: translate(-50%, 0);
    width: 1100px;
    height: 110vh;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 3px dashed #f5cc7f;
    outline-offset: -100px;
    padding: 4rem;
}

.images .item img{
    height:250px;
    position: absolute;
    bottom: 20rem;
    right: -14rem;
}

.content{
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: end;
    width: 350px;
}
.content h1{
    color: #e5dbc9;
    font-size: 45px;
    position: relative;
    top: 18.5rem;
    right: 28rem;
}

.content button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #E88735;
    color: #fff;
    border: none;
    float: left;
    position: relative;
    top: 15rem;
    right: 13.5rem;
    z-index: 100;
}
.content .item{
    display: none;
}
.content .item.active{
    display: block;
}
@keyframes showContent{
    from{
        opacity: 0;
        transform: translateY(100px);
    }to{
         opacity: 1;
     }
}
.content .item.active h1{
    opacity: 0;
    animation: showContent 0.5s ease-in-out 1 forwards;
}
.content .item.active .des{
    opacity: 0;
    animation: showContent 0.5s 0.3s ease-in-out 1 forwards;
}
.content .item.active button{
    opacity: 0;
    animation: showContent 0.5s 0.6s ease-in-out 1 forwards;
}


#prev,
#next, .mouse-icon {
    position: absolute;
    border: none;
    top: 10rem;
    right: -90%;
    transform: translateX(-50%);
    font-family: cursive;
    background-color: transparent;
    color: #292F36;
    font-weight: bold;
    opacity: 0.3;
    z-index: 100;
}

#prev{
    right: -22.2rem;
    top: 31%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

#next {
    right: -22.2rem;
    top: 47%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
    left: unset;
}

.mouse-icon{
    top: 40%;
    right: -18.4rem;
}

#next:hover,
#prev:hover {
    opacity: 1;
}