
.circular-slider-carousel{
    width: 110%;
    height: 100vh;
    position: relative;
    right: 20rem;
}
.slider {
    position: relative;
    width: 205%;
    height: 103vh;
    border-radius:  50% 0% 0% 50%;
    background-image: linear-gradient(to right, #292F36, #292F36);
    top: -4.5rem;
    left: 15rem;
    overflow: hidden;
}

.slider::before{
    position: absolute;
    width: 100%;
    height: 100vh;
    content: '';
    top: 1rem;
    left: 19rem;
    border-radius: 50% 0% 0% 50%;
    background-color: #1E2127;
    overflow: hidden;
    align-items: center;
}

.title{
    position: absolute;
    top: 10%;
    right: -16px;
    text-align: right;
    color: #fff;
    line-height: .9em;
    overflow: hidden;
    margin-right: 1rem;
}
.title img {
    width: 50%;
}
.images{
    width: 1100px;
    height: 130vh;
    position: absolute;
    bottom: 1.5rem;
    left: 49.5%;
    --rotate: 0deg;
    transform: translate(-50%, 50%) rotate(var(--rotate));
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 3px dashed #f5cc7f;
    outline-offset: -100px;
    padding: 2rem;
    overflow: hidden;
}

.images .item{
    position: absolute;
    bottom: 0%;
    left: 50%;
    --rotate: 0deg;
    transform: translate(-50%, 0);
    width: 1100px;
    height: 130vh;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;
    outline: 3px dashed #f5cc7f;
    outline-offset: -100px;
    overflow-y: hidden;
    padding: 2rem;
}

.images .item img{
    height:350px;
    position: relative;
    right: -25rem;
    top: 15rem;
    overflow: hidden;
}

.content{
    color: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: end;
    width: 350px;
}
.content h1{
    color: #E88735;
    font-size: 50px;
    position: relative;
    top: 10rem;
    right: 35rem;
}

.content button{
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: #E88735;
    color: #fff;
    border: none;
    float: left;
    position: relative;
    top: 10rem;
    right: 22rem;
    z-index: 100;
}
.content .item{
    display: none;
}
.content .item.active{
    display: block;
}
@keyframes showContent{
    from{
        opacity: 0;
        transform: translateY(100px);
    }to{
         opacity: 1;
     }
}
.content .item.active h1{
    opacity: 0;
    animation: showContent 0.5s ease-in-out 1 forwards;
}
.content .item.active .des{
    opacity: 0;
    animation: showContent 0.5s 0.3s ease-in-out 1 forwards;
}
.content .item.active button{
    opacity: 0;
    animation: showContent 0.5s 0.6s ease-in-out 1 forwards;
}


#prev,
#next {
    position: absolute;
    border: none;
    right: -160%;
    transform: translateX(-50%);
    font-size: 100px;
    font-family: cursive;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    opacity: 0.3;
    z-index: 100;
}

#prev{

    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

#next {
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);

    left: unset;
}

#next:hover,
#prev:hover {
    opacity: 1;
}