.animation{
    height: 100%;
    width: 100vw;
    z-index: 1;
    background-color: #e1e1e1;
}

 .animation section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
     height: 100vh;
     width: 100vw;
     padding-top: 0rem;
}

.iphone {
    position: absolute;
    height: 550px;
    margin-top: 4rem;
}

.widgets {
    position: absolute;
    z-index: -1;
    scale: 0;
}

#payment{
    width: 300px;
    margin-top: 3rem;
}
#calendar{
    width: 400px;
    margin-left: 2rem;
}

#screen-time{
    width: 300px;
}
#weather {
    width: 300px;
}