.animation{
    height: 110vh;
    width: 100vw;
}

.right-arrow {
    position: absolute;
    right: 2rem;
    bottom: -30rem;
    z-index: 10;
    font-size: 40px;
    border: none;
    background-color: transparent;
}

 .animation section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     width: 100vw;
}

.iphone {
    position: absolute;
    height: 550px;
}

.widgets {
    position: absolute;
    z-index: -1;
    scale: 0;
}


#payment{
    width: 300px;
    margin-top: 3rem;
}
#calendar{
    width: 500px;
}

#screen-time{
    width: 300px;
}
#weather {
    width: 300px;
}