/*
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
    transition: background-color 0.4s, box-shadow 0.4s;
}
*/

.bg-header {
    background-color: #292F36;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    text-align: center;

}

.logo{
    width: 90px;
    transition: color 0.4s;
    margin-left: 1rem;
    background-color: transparent!important;
}

.logo a {
    background-color: transparent!important;
}


.buttons{
    display: flex;
    align-items: end;
    z-index: 100;
    position: relative;
    justify-content: center;

}


.login-button {
    color: whitesmoke;
    background-color: #ecaa16;
    text-align: center;
    border-radius: 25px;
    width: 150px;
    font-size: 18px;
    margin-left: 2rem;
    font-weight: bold;
}

.register-button {
    color: whitesmoke;
    border: 2px solid #ecaa16;
    border-radius: 25px;
    width: 150px;
    font-size: 18px;
    margin-left: 2rem;
    text-align: center;
    font-weight: bold;
}

.register-button:hover{
    background-color: whitesmoke;
    color: #ecaa16;
}

.login-button:hover{
    background-color: whitesmoke;
    color: #ecaa16;
}


.nav__list {
    display: flex;
    gap: 3.5rem;
    flex-direction: row;
    justify-content: center;
}

.nav__item {
    list-style: none;
}

.nav__link {
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    background-color: transparent;
    text-align: center;
    justify-content: center;
}
.nav__link:hover {
    color:orange;
}

.nav__toggle {
    display: none;
    cursor: pointer;
}

/* Desktop Menu */
.desktop-menu {
    display: flex;
}

/* Mobile and Tablet Menu */
.nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #292F36;
    z-index: 999;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 0rem;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
}

.show-menu {
    transform: translateY(0);
}

.nav__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

/* Hamburger Icon */
.nav__toggle i {
    font-size: 2.5rem;
    color:orange;
    margin-right: 1.5rem;
}

/* Close Icon */
.nav__close i {
    font-size: 3rem;
    color:orange;
}
/* Search icon */
.nav__actions i{
    font-size: 2rem;
    color:orange;
}

@media screen and (max-width: 1150px) {
    .desktop-menu {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75%;
        justify-content: center;
        align-items: center;
    }

    .nav__toggle {
        display: flex;
    }

    .nav__list {
        display: flex;
        gap: 0.2rem;
        flex-direction: column;
        text-align: center;
        margin-top: 0rem;
        font-size: 4rem;
        font-weight: bold;
    }

    .dektop{
        display:none;
    }

    .buttons{
        position: relative;
        right:1rem;
        bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap:2rem;
        align-items: center;
        justify-content: center;

    }

    .nav__actions i{
        font-size: 2rem;
        color:orange;
        position: relative;
        left: 0;
        bottom: 1.5rem;
    }

    .logo{
        width: 90px;
        transition: color 0.4s;
        margin-left: 1rem;
        background-color: transparent!important;
    }


    .search-bar-gallery{
        max-width: 70%;

    }

     #search {
         position: absolute;
         bottom: 7rem;
         right: 0rem;
         margin:auto;
     }


}

@media screen and (max-width: 576px) {

    .buttons{
        position: relative;
       bottom: -1rem;
        right: 0rem;
        flex-direction: column;
        gap:2rem;
        align-items: center;
        justify-content: center;
    }


    .nav__menu {
        position: fixed;
        top: 0rem;
        left: 0;
        width: 100%;
        height: 70%;
        justify-content: center;
        align-items: center;
    }
    .nav__list {
        display: flex;

        text-align: center;
        margin-right: 0rem;
        margin-top: 3rem;
        font-size: 2rem;
        font-weight: bold;

    }
    .nav__actions i{
        font-size: 2rem;
        color:orange;
        position: relative;
        left: 0;
        bottom: 0;
    }

    #search {
        position: absolute;
        bottom: 12rem;
        right: 3rem;
        margin:auto;
    }

    .search-bar-gallery{


    }

}