


.bg-header {
    background-color: #292F36;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav.nav.container{
    max-width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding: 0 2rem;

}

.logo {
    width: 90px;
    margin-right: 2rem;
}

.logo a {
    background-color: transparent!important;
}

.buttons {
    display: flex;
    align-items: end;
}

.nav__list {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;

}

.user-info{
   margin-top: -0.5rem;
}
.nav__item {
    list-style: none;
    font-size: 20px;
    background-color: transparent;
    text-align: center;
    color:#677685;
    text-decoration: none;
    font-weight: 800;
}

.nav__link:hover {
    color:orange;
}

.nav__toggle {
    display: none;
    cursor: pointer;
}

.desktop-menu {
    display: flex;
}

/* Mobile and Tablet Menu */

.nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #292F36;
    z-index: 999;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 0rem;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
}

.show-menu {
    transform: translateY(0);
}

.nav__close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
}

/* Hamburger Icon */
.nav__toggle i {
    font-size: 2.5rem;
    color:orange;
    margin-right: 1.5rem;
}

.nav__close i {
    font-size: 3rem;
    color:orange;
}

.nav__actions i{
    font-size: 2rem;
    color:orange;
}

.buttons{
    display: flex;
    align-items: end;
    z-index: 100;
}

.login-button {
    color: whitesmoke;
    background-color: #ecaa16;
    text-align: center;
    border-radius: 25px;
    width: 150px;
    font-size: 18px;
    margin-left: 2rem;
    font-weight: bold;
}

.register-button {
    color: whitesmoke;
    border: 2px solid #ecaa16;
    border-radius: 25px;
    width: 150px;
    font-size: 18px;
    margin-left: 2rem;
    text-align: center;
    font-weight: bold;
}

.register-button:hover{
    background-color: whitesmoke;
    color: #ecaa16;
}

.login-button:hover{
    background-color: whitesmoke;
    color: #ecaa16;
}


.nav__link:hover {
    color:orange;
}

.nav__toggle {
    display: none;
    cursor: pointer;
}



@media screen and (max-width: 1150px) {
    .header {
        overflow-x: hidden;
    }
    .desktop-menu {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav__toggle {
        display: flex;
    }

    .nav__list {
        display: flex;
        gap: 1rem;
        flex-direction: column;
        text-align: center;
        margin-top: 0rem;
        font-size: 4rem;
        font-weight: bold;
    }

    .dektop{
        display:none;
    }

    .buttons{
        position: relative;
        top: 4rem;
        right:0rem;
        margin: auto;
        flex-direction: column;
        gap:2rem;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .nav__actions i{
        font-size: 2rem;
        color:orange;
        position: relative;
        left: 0;
        bottom: 1.5rem;
    }

    .logo{
        width: 90px;
        transition: color 0.4s;
        margin-left: 1rem;
        background-color: transparent!important;
    }
    .nav__item{
        list-style: none;
        font-size: 25px;
        background-color: transparent;
        text-align: center;
        color: #677685;
        text-decoration: none;
        font-weight: 800;
        margin-left: 3rem;
        margin-top: 6rem;
    }
    .nav__actions i{
        font-size: 2rem;
        color:orange;
        position: relative;
        left: 0;
        bottom: 0;
    }

    .search-bar-gallery {
        position: relative;
        bottom: 0rem;
        right: -4rem;
    }
    #search {
        display: inline-block;
        padding: 11px 100px;
        border-radius: 90px;
        background: rgba(255, 252, 252, 0.18);
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        color: #f0f3fd;
        letter-spacing: 1px;
        font-weight: 600;
        width: 300px;
        margin-left: 2rem;
    }

    .search-bar-container  {
        z-index: 10;
        display: flex;
        align-items: center;
    }

    .search-bar-container  i {
        font-size: 30px;
        position: absolute;
        top: 0.5rem;
        left: 22.5rem;
        z-index: 10;
    }


}

@media screen and (max-width: 576px) {
    header {
        overflow-x: hidden;
    }

    .buttons{
        position: relative;
        top: 4rem;
        right: 1rem;
        flex-direction: column;
        gap:2rem;
        align-items: center;
        justify-content: center;
    }


    .search-bar-gallery{
        margin-top: 1rem;
        text-align: center;
    }

    .nav__menu {
        position: fixed;
        top: 0rem;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav__list {
        display: flex;
        text-align: center;
        margin-right: 3rem;
        margin-top: 5rem;
        font-size: 2rem;
        font-weight: bold;

    }

    .nav__item{
        list-style: none;
        font-size: 25px;
        background-color: transparent;
        text-align: center;
        color: #677685;
        text-decoration: none;
        font-weight: 800;
        margin-left: 3rem;
        margin-top: 2rem;
    }
    .nav__actions i{
        font-size: 2rem;
        color:orange;
        position: relative;
        left: 0;
        bottom: 0;
    }

    .search-bar-gallery {
        position: relative;
        bottom: 1rem;
        right: 7rem;
    }
    .search-bar-container  {
        z-index: 10;
        display: flex;
        align-items: center;
    }

    .search-bar-container  i {
        font-size: 30px;
        position: absolute;
        top: 0.5rem;
        left: 10rem;
        z-index: 10;
    }


    .search-bar-gallery #search {
        display: inline-block;
        padding: 11px 70px;
        border-radius: 90px;
        background: rgba(255, 252, 252, 0.18);
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        color: #f0f3fd;
        letter-spacing: 1px;
        font-weight: 600;
        width: 380px;
        margin-left: 2rem;
    }



}




