.MockUp4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #e1e1e1;
    height: 100vh;
}

.block {
    width: 100%;
    height: 350px;
    background-color: #1E2127;
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 0rem;
    z-index: 1;
}

.subscribe-card {
    flex: 1; /* Take equal space in a row */
    max-width: 350px; /* Set max-width for responsiveness */
    border: 1px solid #F79D36;
    background: #F79D36;
    color: white;
    padding: 50px 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card h3 {
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.card ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.card li {
    font-size: 15px;
    margin-bottom: 10px;
}

div.card:hover {
    border-radius: 25px;
    background: linear-gradient(180deg, #FFB152 0%, #BA6300 100%);
    background-blend-mode: darken;
}

div.card:hover h3 {
    color: white;
}

div.card:hover p {
    color: white;
}

div.card:hover svg {
    fill: white;
}

.card1 {
    border: 1px solid #F79D36;
    background: #F79D36;
    color: white;
    padding-top: 50px;
    width: 349px;
    height: auto;
    margin: 20px;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
}


.card1 h3 {
    color: white;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.cards-heading{
    margin-bottom: 1rem;
    margin-top: -1rem;
}
.card1 h5 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0rem;
}


.card1 li {
    text-align: left;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 2rem;
    margin-left: 1rem;
}

.card2 {
    border: 1px solid #F79D36;
    background: #ea7f04;
    color: white;
    padding-top: 50px;
    width: 500px;
    height: auto;
    margin: 30px;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
}

.card2 h3 {
    color: white;
    text-align: left;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 0rem;
}


.card2 h5 {
    color: white;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0rem;
}

.card2 li {
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
    padding-left: 1rem;
    margin-top: 1rem;
}

.card:hover .svg {
    fill: white;
}

.card3 {
    border: 1px solid #F79D36;
    background: #F79D36;
    color: white;
    padding-top: 50px;
    width: 349px;
    height: auto;
    margin: 20px;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
}

.card3 h3 {
    color: white;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0rem;
}

.card3 h5 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0rem;
}


.card3 li {
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 2rem;
    margin-left: 1rem;
}

.subscribe {
    border-radius: 3px;
    border: 1px solid #FFF;
    height: 40px;
    width: 100px;
    margin-top: 1rem;

}

.subscribe:hover {
    background-color: white;
    color: #F79D36;
}

@media (max-width: 768px) {
    .cards{
        padding-top: 55rem;
        flex-direction: column;
    }
    .card1, .card2, .card3{
        margin-bottom: 0rem;
    }

}


@media (max-width: 576px) {
    .cards{
        padding-top: 65rem;
    }
}