.reminder-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    width: 14%;
    position: absolute;
    right: 34rem;
    bottom: 8rem;
    justify-self: center;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
    z-index: 1;
    transition: all 0.3s ease;
}

.reminder-box {
    width: 180px;
    padding: 10px;
    background-color: #FDB514;
    color: white;
    border-radius: 25px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}

.reminder-heading {
    margin-top: 1rem;
    color: white;
    font-size: 25px;
    text-align: center;

}
.reminder-heading i {
    color: #FDB514;
}

.reminder-text {
    font-weight: bold;
}

.reminder-deadline {
    margin-top: 2px;
    margin-bottom: 1rem;
    font-size: 12px;
    color: #666;
}

.reminder-statement {
    margin-top: 5px;
    font-size: 14px;
    background-color: #292F36;
    color: #666;
    padding: 0.5rem;
    border-radius: 25px;
    font-weight: 600;
}

.add-new-reminder {
    text-align: center;
    color: #666;
    margin-top: 7px;
}


.delete-reminder {
    font-size: 25px;
    color: darkred;
    margin-top: 10px;
    margin-left: 10px;
}

.add-new {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.reminder-heading-new {
    color: white;
    font-size: 20px;
    text-align: center;
}

.add-new-button {
    margin-top: 5px;
    font-size: 14px;
    background-color: #FDB514;
    color: white;
    padding: 0.5rem;
    width: 100px;
    border-radius: 25px;
    font-weight: 600;
    text-align: center;
    margin-left: 50px;
}

/* Responsive styling */
@media only screen and (max-width: 768px) {
    .reminder-panel {
        width: 40%;
        height: 60%;
        right: 7%;
        top: -3rem;
    }
}
